.overall-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    background-color: hsl(85, 23%, 63%);
    color: hsl(107, 22%, 24%);
    max-width: 550px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;

    border-radius: 8px;
    border: 2px solid hsl(107, 22%, 24%);

    padding: 0px 10px;
}
h2{
    margin-bottom: 10px;
}
.signup-input{
    border: none;
    border-radius: 8px;
    padding: 10px 5px;
    min-width: 260px;
    margin-bottom: 5px;

    background-color:hsl(60, 62%, 90%);
    color: hsl(107, 22%, 24%);
}
.drop-down-group{
    width: 270px;
}
.drop-down-group select{
    width: 100%;
    padding: 10px 5px;
    border: none;
    border-radius: 8px;

    background-color: hsl(60, 62%, 90%);
    color: hsl(107, 22%, 24%);
    cursor: pointer;
}
.drop-down-group select:focus{
    outline: none;
}
.checkbox-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 270px;

    background-color:hsl(60, 62%, 90%);
    border-radius: 8px;
    padding: 10px;
}
input[type="checkbox"]{
    accent-color: hsl(107, 22%, 24%); 
    cursor: pointer;
    width: 15px;
    height: 15px;
}
#signup-btn{
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    min-width: 270px;

    background-color: hsl(107, 22%, 24%);
    color: hsl(60, 62%, 90%);
    margin: 10px 0px;
}
#signup-btn:hover{
    background-color:hsl(107, 22%, 40%);
}